{% extends "emails/base.html" %}

{% block subject %}Invitation to StockAdvice{% endblock %}

{% block content %}
<h1>You have been invited to StockAdvice</h1>
<p>{{ invited_by.email }} te ha invitado a unirte a StockAdvice.</p>
<p>Click the button to create your password and activate your account:</p>
<p><a href="{{ activation_link }}" class="button">Accept invitation</a></p>
<p>O copia este enlace en tu navegador:</p>
<p>{{ activation_link }}</p>
<p>This link will expire in 7 days.</p>
{% endblock %}
